* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    line-height: 1.5;
    overflow: hidden;
    font-size: 16px;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(116, 116, 116);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Background styling */
body:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    background-size: cover;
    background-attachment: fixed;
    background: url("images/background-img.jpeg");
}

h1 {
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
    text-align: center;
    text-decoration: underline;
    margin-right: 2rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* The "+" Button next to input fields  */
.add-btn {
    width: 3rem;
    height: 2rem;
    margin-left: 2rem;
    cursor: pointer;
}

/* Grid styling */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin: 3rem 2rem 2rem 2rem;
    justify-content: center;
    gap: 2rem;
}

/* Name input styling */
.grid-item1 {
    display: grid;
    grid-template-rows: minmax(5vh, auto);
    grid-auto-rows: minmax(40vh, auto);
}

/* Task input styling */
.grid-item2 {
    display: grid;
    grid-template-rows: minmax(5vh, auto);
    grid-auto-rows: minmax(40vh, auto);
}

/* Task assigner styling */
.grid-item3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(5vh, auto);
    grid-auto-rows: minmax(40vh, auto);
}

.task-assigner-input {
    display: flex;
}

.task-assigner-ul {
    grid-column: 1/4;
    grid-row: 2/3;
    grid-auto-rows: minmax(40vh, auto);
}

#remove-assigned-button {
    grid-column: 1/2;
    grid-row: 3/3;
}

/* Styling of the UL that has the LI inside of it */
ul {
    background-color: #e9f5f8;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(1, 1, 1, 2);
}

/* Styling of the LI that displays 
all tasks, names and assigned tasks */
li {
    color: #2c3e50;
    line-height: 2rem;
    text-align: justify;
    font-family: 'Raleway', serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    list-style-type: none;
    text-transform: capitalize;
}

/* Styling of titles for the input fields */
.name-input,
.task-input {
    position: relative;
    text-align: center;
}

/* Styling of titles for the input fields */
.name-input label,
.task-input label {
    position: absolute;
    left: 2.5rem;
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease-in-out;
}

/* Size of input field boxes & font size for fields content */
#name,
#task {
    width: 70%;
    border: 0;
    border-bottom: 2px solid black;
    background: transparent;
    padding: 0.8rem 0 0.5rem 0;
    color: black;

}

/* Selector witch makes the label move up */
.name-input input:focus~label {
    top: -2rem;
    font-size: 1rem;
}

.task-input input:focus~label {
    top: -2rem;
    font-size: 1rem;
}

/* Styling of titles for the input fields */
.name-assigner-input label,
.task-assigner-input label {
    font-size: 1.3rem;
    color: black;
    margin-left: 1rem;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

/* Setting size of task assigner boxes & 
font size for the inside of the fields  */
#name-assigner,
#task-assigner {
    width: 70%;
    height: 2.5rem;
    border: 0px;
    margin-left: 1rem;
    background-color: rgba(255, 255, 255, 0.034);
    border-bottom: 2px solid black;
}



/* Checkbox styling. */
.strikethrough {
    text-decoration: line-through;
    color: grey;
}

/* Checkbox styling */
input[type="checkbox"] {
    cursor: pointer;
    margin-right: 1rem;
    transform: scale(1.1);
}

select {
    appearance: none;
}

button {
    height: 2rem;
    width: 8rem;
    font-size: 0.8rem;
    bottom: 0px;
    border: none;
    border-radius: 5px;
}